html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #b5b5b5;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
  color: aliceblue;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}
